asgiref             
boto3               
botocore            
crispy-bootstrap4   
Django              
django-crispy-forms 
django-mathfilters  
django-storages     
django-utils-six    
jmespath            
Pillow              
pip                 
python-dateutil     
s3transfer          
setuptools          
six                 
sqlparse            
tzdata              
urllib3             