{% include "store/base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}


<style>

    body{
        background-color: gray;
    }

</style>

<br> <br> 

<div class="container, bg-white shadow-md p-5 form-layout">

    <h3> Password reset </h3>

    <p> Forgotten your password? Enter your email adress below and we'll email instructions for settings a new one </p>

    <form method="POST">

        {% csrf_token %}
        {{ form|crispy }}

        <br>

        <button class="btn rounded-pill btn-success" type="submit">Reset</button>

    </form>

</div>

{% endblock %}