{% include "store/base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}


<style>

    body{
        background-color: gray;
    }

</style>

<br> <br> 

<div class="container, bg-white shadow-md p-5 form-layout">

<h4>Enter your new password: </h4>

<p> Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="POST">

    {% csrf_token %}
    {{ form|crispy }}

    <br>

    <button class="btn rounded-pill btn-success" type="submit">Change Password</button>

</form>


</div>


{% endblock %}